figure{
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
figure::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    opacity: 0;
}

.icon-add{
    background:#1ABC9C;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: all .3s ease-in-out;
}
figure:hover .icon-add{
    opacity: .9;
}